body {
    background: #333;
    margin: auto;
    padding: 0 10%;
    width: 100%;
}
h1 {
    color: #222;
}
.news a {
    color: #555;
}

.iwa {
color: #f2e533;
}
.raul {
color: #f2e533;
}
.fuka {
color: #f2e533;
}
.nabe {
color: #f2e533;
}
.koji {
color: #f2e533;
}
.abe {
color: #f2e533;
}
.meme {
color: #f2e533;
}
.date {
color: #f2e533;
}
.saku {
color: #f2e533;
}